#btn1 {
  color: blue;
  border: 2px solid;
  color: yellow;
  height: 50px;
}

#btn2 {
  color: blue;
  border: 2px solid;
  color: red;
  height: 50px;
  width: 100px;
}

body {
    height: 150px;
    width: 200px;
    background-color: lightblue;
    background-image: url('https://e7.pngegg.com/pngimages/211/925/png-clipart-green-grass-desktop-editing-pasture-miscellaneous-photography.png');
    background-size: 150px;
    align-items: flex-end;
}

.dropdown-content {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
}

/* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png"); */